<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Greeting App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <input type="text" ng-model="studentName" placeholder="Enter your name">
    <button ng-click="displayGreeting()">Submit</button>
    <h2>{{greetingMessage}}</h2>
  </div>

  <script>
    angular.module('myApp', []).controller('myCtrl', function($scope) {
      $scope.displayGreeting = function() {
        $scope.greetingMessage = 'Hello, ' + $scope.studentName + '!';
      };
    });
  </script>
</body>
</html>